extends layout


block content
  h1= title
  p Select an option below
  br
  button() Account Balance
  brbr
  button() Deposit
  br
  button() Withdraw
  brbr
  button() Transactions
  brbr
  button() Sign out

  